@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
/* TODO: change colours to variables */
/* TODO: Consider sizing for very big screns - Eg 1200x1920 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: black;
}

::-moz-selection {
  background-color: black;
}

.mobile-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-image-wrapper p {
  position: absolute;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

.mobile-image {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 15px black;
}

.social-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.social-names > a {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social-names > a:visited {
  color: white;
}

.social-names > a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.page {
  min-height: 93vh;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.page h1 {
  margin-top: 2em;
}

.music-page {
  max-width: 660px;
}

.video-page {
  max-width: 820px;
}

.listen-page {
  max-width: 320px;
}

.page:first-child > div:first-child {
  transition: margin-bottom 2s;
  margin-bottom: 10px;
}

.page > * {
  margin-bottom: 50px;
  -webkit-transition: margin-bottom 2s;
  -moz-transition: margin-bottom 2s;
  -ms-transition: margin-bottom 2s;
  -o-transition: margin-bottom 2s;
  transition: margin-bottom 2s;
}

.mobile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ultrawide-title {
  width: 100%;
}
.ultrawide-title h1 {
  margin-top: 1em;
}

.ultrawide-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.ultrawide-title-wrapper p {
  font-size: 2em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 10px;
  margin: 0;
}

.top-element {
  padding-top: 2em;
}

.last-page {
  min-height: 0;
}

.mobile-title {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 10px;
  text-align: right;
  margin-bottom: 0.5em;
}

body {
  /*background-size: cover;*/
  background: #5e5151 url("../images/blurry_black_red.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: 100% 100%;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
  font-family: BebasNeue-Regular, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
}

.hide {
  /* Required for music/video pages/sections*/
  position: absolute;
  top: -99999999px;
  left: -99999999px;
}

.bandcamp-player, #music-wrapper iframe {
  max-height: 400px !important;
  max-width: 400px !important;
  width: calc(100vw - 20px) !important;
  height: calc(100vw - 20px) !important;
  border: none;
}

#video-wrapper iframe {
  max-width: 768px;
  max-height: 432px;
}

.arrow-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  cursor: pointer;
}

.arrow-box:hover > .left-arrow {
  margin-right: 15px;
}

.arrow-box:hover > .right-arrow {
  margin-left: 15px;
}

.arrow {
  width: 30px;
  height: 50px;
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 250ms;
}

.left-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

h1 {
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  font-family: BebasNeue-Regular, sans-serif;
  letter-spacing: 10px;
  margin: 0;
}
h1 a {
  margin: 0 -10px 0 0;
  text-decoration: none;
  text-align: right;
  cursor: default;
  transition: 250ms;
}
h1 a:visited {
  color: #fff;
}
h1 a:hover {
  /* Only glow over text box, not link all the way over */
  text-shadow: 0 0 2px #fff;
}

.icons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.icons a img {
  width: 32px;
  height: 32px;
  margin: 7px 10px 0 0;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
.icons a img:hover {
  -webkit-box-shadow: 0 0 8px -2px #fff;
  -moz-box-shadow: 0 0 8px -2px #fff;
  box-shadow: 0 0 8px -2px #fff;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue Light.otf"), url("../fonts/BebasNeue Light.ttf");
}
.gigs-wrapper, .contacts-wrapper, .social-names {
  width: 768px;
  max-width: 95%;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}

.gig {
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.old-gig {
  color: #dfdfdf;
}
.old-gig .gig-link {
  display: none;
}

.tix {
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.gig-name, .gig-location, .gig-date, .gig-price, .gig-link {
  margin: 0;
}

.gig-link {
  text-decoration: none;
  color: #000;
  padding: 5px;
  background-color: #f5f5f5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.gig-link:hover {
  -webkit-box-shadow: 3px 3px 5px #343434;
  -moz-box-shadow: 3px 3px 5px #343434;
  box-shadow: 3px 3px 5px #343434;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
}
nav a {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2em;
  text-align: right;
  font-weight: bold;
  color: #f5f5f5;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
nav a:visited {
  color: #f5f5f5;
}
nav a:hover {
  text-shadow: 0 0 2px #fff;
}

.secret_nav {
  text-align: left;
  right: auto;
  left: 0;
  font-size: 0.75em;
}
.secret_nav a {
  justify-content: flex-start;
  text-align: left;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-detail h2 {
  margin-bottom: 0;
}
.contact-detail h3 {
  margin-top: 8px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.form-group {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
  margin-bottom: 20px;
}

.gallery-wrapper {
  display: flex;
  align-items: center;
}
.gallery-wrapper img {
  display: block;
  max-width: 50vw;
  max-height: 50vh;
}

.alert {
  position: fixed;
  background: #000;
  padding: 100px 100px 30px;
  font-size: 3em;
  z-index: 1;
  top: 0;
}

.info {
  background: #000;
  font-family: "Consolas", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.small-screen-arrow-box {
  display: none;
}

form div {
  display: flex;
  justify-content: left;
}
form div label {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 15px;
}
form div input {
  width: 100%;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=style.css.map */
