/* TODO: change colours to variables */
/* TODO: Consider sizing for very big screns - Eg 1200x1920 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

::selection {
    background-color: black;
}

::-moz-selection {
    background-color: black;
}

body {
    background-image: url("images/blurry_black_red.jpg");
    background-size: unset;
    background-color: #5e5151;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    padding: 0;

    color: white;
    font-family: BebasNeue-Regular, sans-serif;
}

.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: -1;
}

/* image preloading */
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("images/blurry_blue.jpg") url("images/blurry_black_red.jpg");
}

main {
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* vertical */
}

.hide {
    position: absolute;
    top: -99999999px;
    left: -99999999px;
}

.bandcamp-player, #music-wrapper iframe {
    max-height: 400px !important;
    max-width: 400px !important;
    width: calc(100vw - 20px) !important;
    height: calc(100vw - 20px) !important;
    border: none;
}

#video-wrapper iframe {
    max-width: 768px;
    max-height: 432px;
    width: calc(100vw - 20px) !important;
    height: calc(56.25vw - 20px) !important;
}

.arrow-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    cursor: pointer;
}

.arrow-box:hover > .left-arrow {
    margin-right: 15px;
}

.arrow-box:hover > .right-arrow {
    margin-left: 15px;
}

.arrow {
    width: 30px;
    height: 50px;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 250ms;
}

.left-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

h1 {
    display: flex;
    justify-content: right;
    color: #fff;
    text-transform: uppercase;
    font-family: BebasNeue-Regular, sans-serif;
    letter-spacing: 10px;
    margin: 0;
}

h1 a {
    margin: 0 -10px 0 0;
    text-decoration: none;
    cursor: default;
    transition: 250ms;
}

h1 a:visited {
    color: #fff;
}

h1 a:hover {
    /* Only glow over text box, not link all the way over */
    text-shadow: 0 0 2px #fff;
}

.icons {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: left;
    align-items: left;
}

.icons a img {
    width: 32px;
    height: 32px;
    margin: 7px 10px 0 0;

    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

.icons a img:hover {
    -webkit-box-shadow: 0 0 8px -2px #fff;
    -moz-box-shadow: 0 0 8px -2px #fff;
    box-shadow: 0 0 8px -2px #fff;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url("fonts/BebasNeue Light.otf"), url("fonts/BebasNeue Light.ttf");
}

.gigs-wrapper, .contacts-wrapper {
    width: 768px;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}

.gig {
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;

    display: flex;
    justify-content: space-between;

    cursor: default;
}

.old-gig {
    color: #dfdfdf;
}

.old-gig .gig-link {
    display: none;
}

.tix {
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gig-name, .gig-location, .gig-date, .gig-price, .gig-link {
    margin: 0;
}

.gig-link {
    text-decoration: none;
    color: #000;
    padding: 5px;
    background-color: #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.gig-link:hover {
    -webkit-box-shadow: 3px 3px 5px #343434;
    -moz-box-shadow: 3px 3px 5px #343434;
    box-shadow: 3px 3px 5px #343434;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
}

nav a {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;
    text-align: right;
    font-weight: bold;
    color: #f5f5f5;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

nav a:visited {
    color: #f5f5f5;
}

nav a:hover {
    text-shadow: 0 0 2px #fff;
}

.secret_nav {
    text-align: left;
    right: auto;
    left: 0;
    font-size: .75em;
}

.secret_nav a {
    justify-content: flex-start;
    text-align: left;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-detail h2 {
    margin-bottom: 0;
}

.contact-detail h3 {
    margin-top: 8px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin-bottom: 20px;
}

.gallery-wrapper img {
    display: block;
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}

.alert {
    position: fixed;
    background: #000;
    padding: 100px 100px 30px;
    font-size: 3em;
    z-index: 1;
    top: 0;
}

.info {
    background: #000;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.small-screen-arrow-box {
    display: none;
}

form div {
    display: flex;
    justify-content: left;
}

form div label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 15px;
}

form div input {
    width: 100%;
}