{% extends 'layout.html' %}

{% block body %}
    <div class="main-wrapper">
        {% include 'title.html' %}
        <div class="gigs-wrapper">
            <h2>Wanna add a gig?</h2>
            {% from 'includes/_form_helpers.html' import render_field %}
            <form method="post" action="">
                <div>
                    <label>Title:</label>
                    <input type="text" name="title">
                </div>
                <div>
                    <label>Location:</label>
                    <input type="text" name="location">
                </div>
                <div>
                    <label>Date:</label>
                    <input type="date" name="date">
                </div>
                <div>
                    <label>Price:</label>
                    <input type="text" name="price">
                </div>
                <div>
                    <label>Link:</label>
                    <input type="text" name="link">
                </div>
                <input class="submit" type="submit" value="submit">
            </form>
        </div>
        {% include 'socials.html' %}
    </div>

{% endblock %}