{% extends 'layout.html' %}

{% block body %}
    <div class="main-wrapper">
        {% include 'title.html' %}
        <div class="gigs-wrapper">
            <h2>Wanna add some music?</h2>
            {% from 'includes/_form_helpers.html' import render_field %}
            <form method="post">
                <div>
                    <label>Title:</label>
                    <input type="text" name="title">
                </div>
                <div>
                    <label>iframe:</label>
                    <input type="text" name="iframe">
                </div>
                <p class="info">For iFrame: Go to bandcamp, get the embed code, choose the big square one and check artwork only.</p>
                <input class="submit" type="submit" value="submit">
            </form>
        </div>
        {% include 'socials.html' %}
    </div>

{% endblock %}