{% extends 'layout.html' %}

{% block body %}
    <div class="main-wrapper">
        {% include 'title.html' %}
        <div class="gigs-wrapper">
            <h2>Wanna add a photo?</h2>
            {% from 'includes/_form_helpers.html' import render_field %}

            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    {{ render_field(form.path, class_="form-control") }}
                </div>
                <input class="submit" type="submit" value="submit">
            </form>
        </div>
        {% include 'socials.html' %}
    </div>
{% endblock %}
