{% extends 'layout.html' %}

{% block body %}
    <div class="main-wrapper">
        {% include 'title.html' %}
        <div class="gigs-wrapper">
            <h2>Wanna add a video?</h2>
            {% from 'includes/_form_helpers.html' import render_field %}
            <form method="post">
                <div>
                    <label>Title:</label>
                    <input type="text" name="title" required maxlength="150">
                </div>
                <div>
                    <label>iFrame:</label>
                    <input type="text" name="iframe" required maxlength="2000">
                </div>
                <p class="info">Go to Youtube, share, embed.</p>
                <p class="info">Don't show suggested videos. Enable privacy-enhanced mode</p>
                <input class="submit" type="submit" value="submit">
            </form>
        </div>
        {% include 'socials.html' %}
    </div>

{% endblock %}