{% extends 'layout.html' %}

{% block body %}
{#    TODO: Confirmation message before delete  #}
    <div class="main-wrapper">
        {% include 'title.html' %}

        <div class="gigs-wrapper">
            {% for record in music %}
                <div class="gig">
                    <div class="name">
                        <h2 class="gig-name">{{ record.title}}</h2>
                    </div>
                    <div class="tix">
                        <a class="gig-link" href="/deleteMusic/{{ record.id }}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>


        {% include 'socials.html' %}
    </div>

{% endblock %}