{% extends 'layout.html' %}
{% block body %}
    {% if size > 1 %}
        <div class="arrow-box big-screen-arrow-box" onclick="changePlayer('l')">
            <img class="left-arrow arrow" src="../static/images/right_arrow.png">
        </div>
    {% endif %}

    <div class="main-wrapper">
        {% include 'title.html' %}

        {% block gallery %}{% endblock %}

        {% include 'socials.html' %}
    </div>

    {% if size > 1 %}
        <div class="small-screen-arrows">
            <div class="arrow-box small-screen-arrow-box" onclick="changePlayer('l')">
                <img class="left-arrow arrow" src="../static/images/right_arrow.png">
            </div>
            <div class="arrow-box" onclick="changePlayer('r')">
                <img class="right-arrow arrow" src="../static/images/right_arrow.png">
            </div>
        </div>
    {% endif %}
{% endblock %}