<ul class="listen-options-wrapper">
    <li><img class="bandcamp-logo" src="/static/images/bandcamp-logotype-color-128.png"> <a href="">Download</a></li>
    <li><img class="spotify-logo" src="/static/images/Spotify_Logo_RGB_Green.png"> <a href="">Stream</a></li>
    <li><img src="/static/images/deezer_logo.png"> <a href="">Stream</a></li>
    <li><img src="/static/images/yt_logo_rgb_light.png"> <a href="">Watch</a></li>
    <li><img class="apple-music-logo" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg">Apple Music<a href="">Buy</a></li>
    {#        <li>Google Play</li>#}
</ul>
