
<link rel="stylesheet" type="text/css" href="/static/listen-options.css">

<ul class="listen-options-wrapper">
    <li><img class="bandcamp-logo" src="/static/images/bandcamp-logotype-color-128.png"> <a href="https://streetpieces.bandcamp.com/">Download</a></li>
    <li><img class="spotify-logo" src="/static/images/Spotify_Logo_RGB_Green.png"> <a href="https://open.spotify.com/artist/6A7pzeOZUxq2EqjEoT29dn">Stream</a></li>
    <li><img src="/static/images/yt_logo_rgb_light.png"> <a href="https://www.youtube.com/user/StreetPieces">Watch</a></li>
{#    <li><img class="apple-music-logo" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg"><a href="">Download</a></li>#}
    <li><img class="deezer-logo" src="/static/images/deezer_logo.png"> <a href="https://www.deezer.com/us/artist/5120201">Stream</a></li>
    <li><img class="google-play-logo" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_google-play.svg"><a href="https://play.google.com/store/music/artist/Street_Pieces?id=A4cfvt2kdolpr5423ole5t4adq4">Download</a></li>
    <li><img class="amazon-music-logo" src="https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmusic.svg"><a href="https://music.amazon.com/artists/B00F03ANCW?tab=CATALOG&ref=dm_wcp_bp_artist_link_artist_t">Stream</a></li>

{#   https://music.amazon.com/artists/B00F03ANCW?tab=CATALOG&ref=dm_wcp_bp_artist_link_artist_t #}
</ul>


