{% include 'head.html' %}


<body>
<div class="mobile-main">
    <nav>
        <a href="#listen">Listen</a>
        <a href="#video">Videos</a>
        <a href="#music">Music</a>
        {% if gigs_num > 0 %}
            <a href="#gigs">Gigs</a>
        {% endif %}
        <a href="#social">Social</a>
    </nav>

    {% if session.logged_in %}
        <nav class="secret_nav">
            <a href="/deleteVideo">Delete video</a>
            <a href="/addVideo">Add video</a>
            <a href="/deleteMusic">Delete music</a>
            <a href="/addMusic">Add music</a>
            <a href="/deleteGigs">Delete gig</a>
            <a href="/addGig">Add gig</a>
            <a href="/logout">Logout</a>
        </nav>
    {% endif %}


    <div class="page">
        <h1 class="mobile-title">Street Pieces</h1>
        <a class="mobile-image-wrapper" href="https://streetpieces.bandcamp.com/album/everything-you-ever-wanted">
            <p>Out Now</p>
            <img class='mobile-image' src="/static/images/EYEW.jpg">
        </a>

    </div>


    <div class="page listen-page" id="listen">
        <h1 class="mobile-title">Listen</h1>
        {% include 'listen-options.html' %}
    </div>

    <div class="page video-page" id="video">
        <div class="gallery-wrapper">
            {% if video_count > 1 %}
                <div class="arrow-box big-screen-arrow-box" onclick="changePlayer('l')">
                    <img class="left-arrow arrow" src="../static/images/right_arrow.png">
                </div>
            {% endif %}

            <div class="main-wrapper">
                <h1 class="mobile-title">Video</h1>

                <div id="video-wrapper">
                    {% for video in video_data %}
                        {{ video.iframe | safe }}
                    {% endfor %}
                </div>
                <script src="/static/videos.js" rel="script"></script>

            </div>

            {% if video_count > 1 %}
                <div class="small-screen-arrows">
                    <div class="arrow-box small-screen-arrow-box" onclick="changePlayer('l')">
                        <img class="left-arrow arrow" src="../static/images/right_arrow.png">
                    </div>
                    <div class="arrow-box" onclick="changePlayer('r')">
                        <img class="right-arrow arrow" src="../static/images/right_arrow.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="page music-page" id="music">
        <div class="gallery-wrapper">
            {% if music_count > 1 %}
                <div class="arrow-box big-screen-arrow-box" onclick="changeMusicPlayer('l')">
                    <img class="left-arrow arrow" src="../static/images/right_arrow.png">
                </div>
            {% endif %}

            <div class="main-wrapper">
                <h1 class="mobile-title">Music</h1>
                <div id="music-wrapper">
                    {% for player in music_data %}
                        {{ player.iframe | safe }}
                    {% endfor %}
                </div>
                <script src="/static/music.js" rel="script"></script>
                {#                TODO: Music arrow resizing real weirdly#}
            </div>

            {% if music_count > 1 %}
                <div class="small-screen-arrows">
                    <div class="arrow-box small-screen-arrow-box" onclick="changeMusicPlayer('l')">
                        <img class="left-arrow arrow" src="../static/images/right_arrow.png">
                    </div>
                    <div class="arrow-box" onclick="changeMusicPlayer('r')">
                        <img class="right-arrow arrow" src="../static/images/right_arrow.png">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>



    {% if gigs_num > 0 %}
        <div class="page" id="gigs">
            <h1 class="mobile-title">Gigs</h1>
            {% include 'gigs-list.html' %}
        </div>
    {% endif %}

    <div class="page last-page" id="social">
        <h1 class="mobile-title">Follow</h1>
        <div class="social-names">
            <a href="https://www.facebook.com/streetpieces/">Facebook</a>
            <a href="https://www.instagram.com/streetpieces/">Instagram</a>
            <a href="https://open.spotify.com/artist/6A7pzeOZUxq2EqjEoT29dn">Spotify</a>
            <a href="https://streetpieces.bandcamp.com/">Bandcamp</a>
        </div>
        {% include 'socials.html' %}
    </div>
</div>
</body>