{% extends 'layout.html' %}

{% block body %}
    <div class="arrow-box" onclick="changePhoto('l')">
        <img class="left-arrow arrow" src="../static/images/right_arrow.png">
    </div>
    <div class="gallery-wrapper">
        {% include 'title.html' %}
        <img class="hide" id="previous_photo">
        <img id="gallery_img" src="../static/images/gallery/ben_monster.jpg">
        <img class="hide" id="next_photo">

        {% include 'socials.html' %}
    </div>
    <div class="arrow-box" onclick="changePhoto('r')">
        <img class="right-arrow arrow" src="../static/images/right_arrow.png">
    </div>
    <script src="/static/gallery.js" rel="script"></script>
{% endblock %}
