{# TODO: Add in Apple-play? iTunes? Remove BandCamp if it gets too crowded #}
<div class="icons">
    <a class="icon" href="https://open.spotify.com/artist/6A7pzeOZUxq2EqjEoT29dn" title="Spotify">
        <img src="../static/images/spotify.png">
    </a>

    <a class="icon" href="https://www.instagram.com/streetpieces/" title="Instagram">
        <img src="../static/images/instagram.png">
    </a>

    <a class="icon" href="https://www.facebook.com/streetpieces" title="Facebook">
        <img src="../static/images/facebook.png">
    </a>

    <a class="icon" href="https://streetpieces.bandcamp.com/" title="Bandcamp">
        <img src="../static/images/bandcamp.png">
    </a>
</div>
